.Rproj.user
.Rhistory
.RData
.Ruserdata
data/TLM_Barmah-Millewa_2022-23_validations_ALL.xlsx
data/TLM_Barmah-Millewa_2022-23_AM_deployment_metadata.xlsx
data/TLM_2022-23_Barmah-Millewa_FrogsEnsemble1_2023.csv
data/precip_2023.nc
data/precip_2022.nc
data/ClassList.csv
data/waterbodies/ga_ls_wb_3_v2.cpg
data/waterbodies/ga_ls_wb_3_v2.dbf
data/waterbodies/ga_ls_wb_3_v2.prj
data/waterbodies/ga_ls_wb_3_v2.shp
data/waterbodies/ga_ls_wb_3_v2.shx
data/climate/precip_2022.nc
data/climate/precip_2023.nc
data/climate/tmin_2022.nc
data/climate/tmin_2023.nc
data/model_results/TLM_Barmah_Frogs_March2024.csv
data/climate/precip_2018.nc
data/climate/precip_2019.nc
data/climate/precip_2020.nc
data/climate/precip_2021.nc
data/climate/tmin_2018.nc
data/climate/tmin_2019.nc
data/climate/tmin_2020.nc
data/climate/tmin_2021.nc
outputs/fit.rds
data/climate/tmin_2024.nc
data/climate/precip_2024.nc
data/model_results/TLM_Barmah_Frogs_March2024_3.csv
outputs/fit_norm.rds
outputs/fit_beta.rds
